alembic==0.9.6
click==6.7
Flask==0.12.2
Flask-Markdown==0.3
Flask-Migrate==1.6.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-Uploads==0.2.1
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.9.6
Mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.0
pkg-resources==0.0.0
py-bcrypt==0.4
PyMySQL==0.7.11
python-dateutil==2.6.1
python-editor==1.0.3
python-slugify==1.1.4
six==1.11.0
SQLAlchemy==1.1.14
Unidecode==0.4.21
Werkzeug==0.12.2
WTForms==2.1
