{% extends "base.html" %}
{% block content %}
<table width="90%" align="center"><tr><td>
<p><i><b>Syntax:</b> the values of the variables are entered in text area. The elements inside the IF block are optional and can be omitted. Examples:</p>
<p>PORT;SPEED;GROUP;DESCRIPTION;VLAN => our arguments may be:</i><br>
<font color="red">gi1/1;<br>10M;<br>3;<br>Link to provider;<br>10,20-30</font></p>
<p><i>If channel-group number is omitted => our arguments may be:</i><br>
<font color="red">gi1/1;<br>10M;<br>;<br>Link to provider;<br>10,20-30</font></p>
<p><i>Or it is possible write all variables in one string:</i><br>
<font color="red">gi1/1;10M;3;Link to provider;10,20-30</font></p>
<p><i>To generate same template with different arguments use # as separator:</i></p>
<p><font color="red">gi1/1;10M;3;Link to provider;10,20-30#<br>
gi2/1;20M;;LAN;1,8,19</font></p>
<p><b><i>Result:</b></p>
<pre>!default interface gi1/1
interface gi1/1
 description Link to provider
 switchport trunk allowed vlan 10,20-30
 switchport mode trunk
 channel-group 3 mode active
 service-policy output 10M
 service-policy input 10M</i></pre>
</td></tr></table>
{% endblock %}
